# Web Server
Flask==2.3.2
flask-socketio==5.3.6
eventlet==0.36.1
Werkzeug==3.0.4

# NLP

google-cloud-speech

# Speech to Text
openai-whisper==20250625
torch==2.8.0
tiktoken==0.12.0

# Video & Audio
pyaudio
moviepy==2.2.1
opencv-python-headless==4.12.0.88
imageio==2.37.2
imageio-ffmpeg==0.6.0
pillow

# Utils
tqdm==4.67.1
requests==2.32.5
python-dotenv==1.2.1
pydantic<2.0
# NOTE:
# FFmpeg is required but must be installed separately (system dependency)
